@inject Eve.ESI.Standard.Authentication.Account.IScopeGroupProvider scopes
@inject Eve.EveAuthTool.Core.Security.Middleware.IViewParameterProvider parameters

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eve Swagger Auth</title>

    <link rel="stylesheet" href="~/lib/font-awesome-5/web-fonts-with-css/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/css/dialog.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="site">
        <div class="site-logo">
            <img src="@(parameters.Package.IsTenant ? parameters.Package.ESIConfiguration.GetImageSource((Eve.ESI.Standard.eESIEntityType)parameters.Package.CurrentTenant.EntityType,parameters.Package.CurrentTenant.EntityId,128) : "/images/logo.png")"/>
        </div>
        <div class="site-title">
            @(parameters.Package.IsTenant ? parameters.Package.CurrentTenant.DisplayName : "")
        </div>
        <div class="site-info">

        </div>
        <div class="site-content">
            @RenderBody()
        </div>
        <div class="site-sidebar-left">
            <button onclick="showDialog('registrationDialog')">Account</button>
            <a asp-controller="Home" asp-action="Features">About ESA</a>
            <a asp-controller="Home" asp-action="About">About Me</a>
        </div>
    </div> 
   
    <div id="registrationDialog" class="dialog-container">
        <div class="dialog">
            @if (parameters.Package.IsTenant)
            {
                @if (parameters.Package.IsAuthenticated)
                {
                    <h3>Your Account</h3>
                    <button class="button-list-button registration-button" onclick="showDialog('addCharacterRegistrationDialog')">Add Character</button>
                    <a class="button-list-button registration-button" asp-action="Logout" asp-controller="Registration">Log Out</a>
                }
                else
                {
                    <a asp-action="EveLogin" asp-controller="Registration" class="button-list-button registration-button hover-image-button">Login<img src="~/images/eve-sso-login-black-large.png" /></a>
                    <button class="button-list-button registration-button" onclick="showDialog('characterRegistrationDialog')">Register</button>
                }
            }
            else
            {
                <a asp-action="Group" asp-controller="Registration" class="button-list-button registration-button">Create Group</a>
            }
        </div>
    </div>

    <div id="addCharacterRegistrationDialog" class="dialog-container">
        <div class="dialog-close">
            <i class="fas fa-times"></i>
        </div>
        <div class="dialog">
            @{
                var addCharacterOptions = new Eve.EveAuthTool.GUI.Web.Models.Registration.RegistrationFormOptions()
                {
                    Action = "AddCharacter",
                    Controller = "Registration",
                    Title = "Add a character to your account",
                    Description = "Register to use the application as a single user allowing you to view and multiple characters information",
                    Groups = scopes.GetCharacterScopeGroups()
                };
            }
            <partial name="RegistrationForm" model="addCharacterOptions" />
        </div>
    </div>
    <div id="characterRegistrationDialog" class="dialog-container">
        <div class="dialog-close">
            <i class="fas fa-times"></i>
        </div>
        <div class="dialog">
            @{
                var characterOptions = new Eve.EveAuthTool.GUI.Web.Models.Registration.RegistrationFormOptions()
                {
                    Action = "Character",
                    Controller = "Registration",
                    Title = "Register new Character Account",
                    Description = "Register to use the application as a single user allowing you to view and multiple characters information",
                    Groups = scopes.GetCharacterScopeGroups()
                };
            }
            <partial name="RegistrationForm" model="characterOptions" />
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/Microsoft.jQuery.Unobtrusive.Ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dialog.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
