@model Eve.EveAuthTool.GUI.Web.Models.Management.EditRoleModel
@{
    ViewData["Title"] = "Edit Role";

    var breadcrumbs = new List<Breadcrumb>()
    {
        new Breadcrumb(){ Controller="Management",Action="Index",Text="Management"  },
        new Breadcrumb(){ Controller="Management",Action="Roles",Text="Roles" }
    };

    var configurationObject = new List<Object>();
    configurationObject.Add(new { id = 0, text = "None" });
    foreach (var configuration in Model.AllConfigurations)
    {
        configurationObject.Add(new { id = configuration.Id, text = configuration.Name });
    }

    var configurationSelectList = new SelectList(configurationObject, "id", "text", Model.DiscordRoleConfigurationID);
}
@section Breadcrumbs{
    <partial name="breadcrumbs" model="breadcrumbs">
}
        <form class="content-box theme-border width-50 center" asp-controller="Management" asp-action="EditRole">

            @Html.HiddenFor(x => Model.Id)
            <div>Name - @Html.TextBoxFor(x => Model.Name)</div>
            <div>Discord Configuration @Html.DropDownListFor(x => Model.DiscordRoleConfigurationID, configurationSelectList)</div>
            <div>Register - @Html.CheckBoxFor(x => Model.Register)</div>
            <div>Manage - @Html.CheckBoxFor(x => Model.Manage)</div>
            <div><button type="submit">Save</button></div>
        </form>

