@model Eve.EveAuthTool.GUI.Web.Models.Management.IndexAuthRuleRelationship

@inject Eve.EveAuthTool.Standard.Security.Middleware.IViewParameterProvider parameters

<div data-relationship-index="@Model.Index" class="rule-edit-relationship width-75 center">

    <input name="@($"Relationships.Index")" type="hidden" value="@Model.Index">
    <input name="@($"Relationships[{Model.Index}].EntityID")" type="hidden" value="@Model.EntityID">
    <input name="@($"Relationships[{Model.Index}].Relationship")" type="hidden" value="@Model.Relationship">
    <input name="@($"Relationships[{Model.Index}].EntityType")" type="hidden" value="@Model.EntityType">
    <input name="@($"Relationships[{Model.Index}].RuleID")" type="hidden" value="@Model.RuleID">
    <input name="@($"Relationships[{Model.Index}].ParentEntityType")" type="hidden" value="@Model.ParentEntityType">
    <input name="@($"Relationships[{Model.Index}].ParentEntityID")" type="hidden" value="@Model.ParentEntityID">
    <img class="rule-relationship-image" src="@parameters.Package.ESIConfiguration.GetImageSource(Model.EntityType,Model.EntityID,32)">
    <div class="rule-relationship-type">@Model.Relationship</div>
    <div class="rule-relationship-entity-name">@await Model.GetRelationshipEntityName(parameters.Package.TenantController, parameters.Package.PublicDataProvider)</div>
    <div onclick="$(this).parent().remove();" class="rule-relationship-edit"><i class="fas fa-times"></i></div>
</div>

