@model IEnumerable<Eve.EveAuthTool.GUI.Web.Models.Management.RoleModel>
@{
    ViewData["Title"] = "Roles";
    var breadcrumbs = new List<Breadcrumb>()
    {
        new Breadcrumb(){ Controller="Management",Action="Index",Text="Management"  }
    };
}
@section Styles{
    <link rel="stylesheet" href="~/css/rule.css" />
}
@section Breadcrumbs{
    <partial name="breadcrumbs" model="breadcrumbs">
}
<a asp-action="EditRole" asp-controller="Management" asp-route-roleID="-1">Add</a>
@foreach (var role in Model)
{
<div class="content-box theme-border">
    <div class="bold">@role.Name</div>
    <div>Discord Config - @role.DiscordRoleConfigurationName</div>
    <div>Register - @role.Register</div>
    <div>Manage - @role.Manage</div>
    <a asp-action="EditRole" asp-controller="Management" asp-route-roleID="@role.Id"><i class="fas fa-edit"></i></a>
</div>
}

